{% extends "_general/base.html" %}

{% block title %}repoIndex - Login{% endblock %}

{% block extrastyle %}
<style type="text/css">
.tab-pane{
  height:350px;
  overflow-y:scroll;
  width:100%;
}


</style>
{% endblock%}
{% block content %}

	<div class="row pt-3">
		<section id="description" class='col-md-8'>
			<div id="tabs">
					<b>repoIndex</b> is a web service powered by <b>LAS</b>, designed to facilitate experiment repository management.
					<br>
					<br>
					After registering a valid remote host, users can save experimental data on a MongoDB database as well as create and manage experiment folders on remote locations.

		</section>
		<section id="login" class='col-md-3'>
			<div class="card">
				<div class="card-header">
					<h3>Login</h3>
				</div>
				<div class="card-body">
						
					{% if notActive %}
						<img src="/las_static/img/workInProgress.png" style="max-width:100%;max-height:100%;" />

						<table>
							<td><p id="error" style="font-family: Arial; font-weight: bold; color: red; font-size:14px; text-align: center">The LAS Service is currently under maintenance. We apologize for the inconvenience.</p></td>
						</table>
					{% else %}
						
						<form name="loginForm" action="{% url 'LASLogin' %}" method="post">{% csrf_token %}
						{% if err_message %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert" >
							<span class="oi oi-circle-x" title="icon name" aria-hidden="true"></span>
							{{  err_message|safe  }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>						
						{% endif %}
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" name="username" value="" id="username" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" value="" id="password" class="form-control" required>
						</div>
						<!-- <div class="form-group">
						<a href="{% url 'contactUs' %}" class="mr-3">Register</a>
						<a class="login" href="{% url 'password_reset' %}">Forgot Your Password?</a>        
						</div> -->
						<button id="login" type="submit" class="btn btn-success" >Login</button>

						</form>

					{% endif%} 
				</div>
			</div>
		</section>

    </div>
	<!-- {% if projects%}
		<div class='row'>
			<section id="projects" style='padding-left:3em' class='col-12'>
				The Laboratory Assistant Suite platform is hosting the following projects:
				
				<div class="row pt-3">
					{% for p in projects%}
						{% if p == "mercuric"%}
						<div class="col-3">
							<a href="{% url 'mercuric:MercuricLogin' %}"><img height="46px" src="/las_static/img/mercuric_large_logo.png"></a>
						</div>
						{% endif %}

					{% endfor%}
					<div class="col-3">
						<img width="143px" height="46px" src="/las_static/img/motricolor.png">
					</div>
				</div>
				<<img width="143px" height="55px" style="padding:2em" src="/las_static/img/symphogen.png">
			</section>
		</div>
	{% endif%} -->


	
{% endblock %}
