{% extends "_general/base.html" %}

{% block content %}
<h2><b>Query results</b></h2>
<div>
    <br>
    Experiments matching query
    <br><br>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>GenID</th>
            <!-- <th>Description</th>
            <th>Pipeline</th> -->
            <th>Path</th>
        </tr>
        <!-- {{ results }} -->
    {% for q in results %}
        <tr>
            <td><b>{{ q.name }}</b></td>
            <td>{{ q.technology.library.type }}</td>
            <td>
                {% for p in q.samples_map %}
                    {{ p.id }}<br>
                {% endfor %}
            </td>
            <!-- <td>{{ q.description }}</td>
            <td>{{ q.pipeline }}</td> -->
            <td>{{ q.path }}</td>
        </tr>     
    {% endfor %}
    </table>
</div>
{% endblock %}