{% extends "_general/base.html" %}

{% block content %}

<div class="col-4">
    <br>

    {% if new_host %}
    <h2><b>Host Registered</b></h2>
    <div>
        <br><br>
        <b>Hostname: </b>{{ new_host.hostname }}<br>
        <b>Username: </b>{{ new_host.host_username }}<br>
        <b>Path: </b>{{ new_host.host_path }}<br>
        <b>Description: </b>{{ new_host.description }}<br>
    </div>
    {% endif %}

    {% if modified_host %}
    <h2><b>Host Modified</b></h2>
    <div>
        <br><br>
        <b>Hostname: </b>{{ modified_host.hostname }}<br>
        <b>Username: </b>{{ modified_host.host_username }}<br>
        <b>Path: </b>{{ modified_host.host_path }}<br>
        <b>Description: </b>{{ modified_host.description }}<br>
    </div>
    {% endif %}

    {% if disabled_host %}
    <h2><b>Host Disabled</b></h2>
    <div>
        <br>
        This host has been removed from the available services
        <br><br>
        <b>Hostname: </b>{{ disabled_host.hostname }}<br>
        <b>Username: </b>{{ disabled_host.host_username }}<br>
        <b>Path: </b>{{ disabled_host.host_path }}<br>
        <b>Description: </b>{{ disabled_host.description }}<br>
        <b>Enabled: </b>{{ disabled_host.enabled }}<br>
    </div>
    {% endif %}

    {% if enabled_host %}
    <h2><b>Host Disabled</b></h2>
    <div>
        <br>
        This host has been added the available services
        <br><br>
        <b>Hostname: </b>{{ enabled_host.hostname }}<br>
        <b>Username: </b>{{ enabled_host.host_username }}<br>
        <b>Path: </b>{{ enabled_host.host_path }}<br>
        <b>Description: </b>{{ enabled_host.description }}<br>
        <b>Enabled: </b>{{ enabled_host.enabled }}<br>
    </div>
    {% endif %}
    <!-- <table class="table table-striped">
        <tr>
            <th>GenID</th>
        </tr>
        {% for i in valid %}
        <tr>
            <td>{{ i }}</td>
        </tr>     
    {% endfor %}
    </table> -->

</div>
{% endblock %}