{% extends "_general/base.html" %}

{% block content %}

<br>
<h4>Modify host parameters for {{ host_edit.address }}</h4>
<div class="row pt-3 pb-3">
    <div class="col-5">
        If you need to modify username, hostname or path, just create a new service <a href="{% url 'landhostManager' %}">here</a>.
        <br><br>
        <b>Host: </b>{{ host_edit.address }}<br>
        <br>
        <b>Current Path: </b>{{ host_edit.path }}
        <br><br>
        <form id="host_change_path" action="{% url 'hostEdit' %}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <label for="host_change_path"><b>New Path:</b></label>
                <input class="form-control" type="text" id="host_change_path" name="host_change_path"/>
                <input type="hidden" id="host_change-address" name="host_change_address" value="{{ host_edit.address }}"/>
                <input type="hidden" id="host_change-orig_path" name="host_change_orig_path" value="{{ host_edit.path }}"/>
                <br>
                <input type="submit" id="host_change_path-submit" value="Change path" class="btn btn-primary"/>
            </div>
        </form>   
        <br><br>
        <form id="host_change_password" action="{% url 'hostEdit' %}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <label for="host_change_path"><b>New Password:</b></label>
                <input class="form-control" type="password" id="host_change_password" name="host_change_password"/>
                <input type="hidden" id="host_change-address" name="host_change_address" value="{{ host_edit.address }}"/>
                <!-- <input type="hidden" id="host_change-orig_path" name="host_change_orig_path" value="{{ host_edit.path }}"/> -->
                <br>
                <input type="submit" id="host_change_password-submit" value="Change password" class="btn btn-primary"/>
            </div>
        </form>
        <br><br>
        {% if host_edit.toggle == "DISABLED" %}
        <form id="host_enable" action="{% url 'hostEdit' %}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <label for="host_enable"><b>Enable this service</b></label>
                <input type="hidden" id="host_enable" name="host_enable" value="{{ host_edit.address }}"/>
                <!-- <input type="hidden" id="host_disable" name="host_disable" value="{{ host_edit.path }}"/> -->
                <br>
                <input type="submit" id="host_enable-submit" value="Enable host" class="btn btn-warning"/>
                <br>
                You will see this service in available hosts
            </div>
        </form>
        {% endif %}

        {% if host_edit.toggle == "ENABLED" %}
        <form id="host_disable" action="{% url 'hostEdit' %}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <label for="host_disable"><b>Disable this service</b></label>
                <input type="hidden" id="host_disable" name="host_disable" value="{{ host_edit.address }}"/>
                <!-- <input type="hidden" id="host_disable" name="host_disable" value="{{ host_edit.path }}"/> -->
                <br>
                <input type="submit" id="host_disable-submit" value="Disable host" class="btn btn-warning"/>
                <br>
                You will not see it anymore in available hosts
            </div>
        </form>
        {% endif %}  
    </div>

{% endblock %}