{% extends "_general/base.html" %}

{% block content %}

{% load staticfiles %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src = "{% static "repoIndex/existinghoststest.js" %}"></script>

<div class="row pt-3 pb-3">
    <div class="col-4">
        <h4>New host register</h4>
        <form id="host_register" action="{% url 'hostRegister' %}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                Hostname:<br>
                <input class="form-control" type="text" id="host_reg-host" name="hostname"/>
                <br>
                Username:<br>
                <input class="form-control" type="text" id="host_reg-username" name="host_username"/>
                <br>
                Password:<br>
                <input class="form-control" type="password" id="host_reg-password" name="host_password"/>
                <br>
                Path:<br>
                <input class="form-control" type="text" id="host_reg-path" name="host_path"/>
                <br>
                Description:<br>
                <textarea class="form-control" type="text" id="host_reg-description" rows="4" name="description"/></textarea>
                <br>
                <input type="submit" id="host_reg-submit" value="Add host" class="btn btn-primary"/>
            </div>
        </form>   
    </div>
    <div class="col-8">
        <h4>Available hosts</h4>
        <br>
        <table id="existing_hosts" class="table table-striped">
                <tr>
                    <th>Status</th>
                    <th>Service</th>
                    <th>Path</th>
                    <th></th>
                </tr>
                <!-- {{ results }} -->
                <!-- {% for q in data %} -->
                    <tr>
                        <!-- <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div> -->
                        <!-- {% if q.status == "UP" %}
                            <td><span class="badge badge-pill badge-success">UP</span></td>
                        {% elif q.status == "PATH" %}
                            <td><span class="badge badge-pill badge-warning">PATH</span></td>
                        {% else %}
                            <td><span class="badge badge-pill badge-danger">DOWN</span></td>
                        {% endif %}
                        <td>{{ q.address }}</td>
                        <td>{{ q.path }}</td>
                        <form id="host_edit" action="{% url 'landhostEdit' %}" method="POST">
                            {%csrf_token%}
                            <input type="hidden" id="host_edit-address" name="host_edit_address" value="{{ q.address }}"/>
                            <input type="hidden" id="host_edit-path" name="host_edit_path" value="{{ q.path }}"/>
                            <td><input type="submit" id="host_edit-submit" value="Edit" class="btn btn-primary btn-sm"/></td>
                        </form> -->
                    </tr>     
                <!-- {% endfor %} -->
        </table>
        <br><br>
        <h4>Other known hosts</h4>
        <br>
        <table id="disabled_hosts" class="table table-striped">
                <tr>
                    <th>Status</th>
                    <th>Service</th>
                    <th>Path</th>
                    <th></th>
                </tr>
                <!-- {{ results }} -->
                {% for q in disabled_hosts %}
                    <tr>
                        <td><span class="badge badge-pill badge-secondary">?</span></td>
                        <td>{{ q.address }}</td>
                        <td>{{ q.path }}</td>
                        <form id="host_edit" action="{% url 'landhostEdit' %}" method="POST">
                            {%csrf_token%}
                            <input type="hidden" id="host_edit-address" name="host_edit_address" value="{{ q.address }}"/>
                            <input type="hidden" id="host_edit-path" name="host_edit_path" value="{{ q.path }}"/>
                            <input type="hidden" id="host_edit-toggle" name="host_edit_toggle" value="DISABLED"/>
                            <td><input type="submit" id="host_edit-submit" value="Edit" class="btn btn-primary btn-sm"/></td>
                        </form>
                    </tr>     
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
