{% extends "_general/base.html" %}

{% block content %}

{% load staticfiles %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src = "{% static "repoIndex/querytable.js" %}"></script>

<h2><b>Experiment types</b></h2>
<div>
    <br>
    List of the experiments types registered up to now
    <form action="{% url 'landnewExperimentType' %}">
      <input type = "submit" value = "Add new" class="btn btn-primary"/>
    </form>
    <br><br>

    <table id="expTypes" class="table table-striped table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Name      
          </th>
          <th class="th-sm">Description      
          </th>
        </tr>
      </thead>
      <tbody>
        {% for exp_type in exp_types %}
          <tr>
            <td><b>{{ exp_type.Name }}</b></td>
            <td>{{ exp_type.Description }}</td>
          </tr>     
        {% endfor %}
      </tbody>
    </table>

</div>
{% endblock %}