{% extends "_general/base.html" %}

{% block content %}

<div class="row pt-3 pb-3">
    <div class="col-4">
        <h4>Experiment data</h4>
        <form id="query_experiment" action="{% url 'queryExperiment' %}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <!-- Hostname:<br>
                <input class="form-control" type="text" id="query_exp-host" name="hostname"/>
                <br> -->
                Experiment name:<br>
                <input class="form-control" type="text" id="query_exp-name" name="exp_name"/>
                <br>
                <!-- GenID:<br>
                <textarea class="form-control" type="text" id="query_exp-genID" rows="4" name="genID"/></textarea>
                <br> -->
                GenID:<br>
                <input class="form-control" type="text" id="query_exp-genID" name="genID"/>
                <br>
                Experiment type:<br>
                <input class="form-control" type="text" id="query_exp-type" name="exp_type"/>
                <br>
                Path or hostname:<br>
                <input class="form-control" type="text" id="query_exp-path" name="path"/>
                <br>
                Source vendor:<br>
                <input class="form-control" type="text" id="query_exp-source_vendor" name="exp_source_vendor"/>
                <br>
                <!-- Order Date:<br>
                <div class="well">
                    <div id="datetimepicker4" class="input-append">
                      <input data-format="yyyy-MM-dd" type="text"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                      </span>
                    </div>
                  </div>
                  <script type="text/javascript">
                    $(function() {
                      $('#datetimepicker4').datetimepicker({
                        pickTime: false
                      });
                    });
                  </script>
                </div> -->
                Sequencing Platform vendor:<br>
                <input class="form-control" type="text" id="query_exp-seqplat_vendor" name="exp_seqplat_vendor"/>
                <br>
                <!-- Description:<br>
                <textarea class="form-control" type="text" id="query_exp-description" rows="4" name="description"/></textarea>
                <br> -->
                <input type="submit" id="query_exp-submit" value="Search" class="btn btn-primary"/>
            </div>
        </form>   
    </div>
</div>
{% endblock %}